
/* body>div{
  width:800px;
  border:1px solid #CCC;
  height:800px;
  margin:0 auto;
} */

 body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* background: url(https://gss0.baidu.com/9fo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/1b4c510fd9f9d72af2bf9269d22a2834359bbbef.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}

#greeting{
  padding: 10px 0 0; 
}

#greeting a {
  text-decoration: none;
  text-decoration: none;
  /* color: white; */
  border: 1px solid;
  border-right: none;
  border-top: none;
  margin: 5px 10px 0;
  padding: 5px;
}

#greeting a:nth-child(2n) {
  border: 1px solid;
  border-bottom: none;
  border-left: none;
}

/* 
div#content {
  margin: auto;
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -250px;
} */

canvas {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: -5;
}